.countryList{
  background-color: lightblue;
  margin: 10px;
  width: 40%;
  padding: 10px;
}

#countryLists{
  display: flex;
  justify-content: space-between;
}

.flag{
  width: 30%;
  height: 100%;
}

.country{
  display: flex;
  justify-content: space-between;
}
